ci:
  autofix_commit_msg: |
    BOT: auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autoupdate_commit_msg: "BOT: pre-commit hooks autoupdate"

exclude: "(versioneer.py|dtoolkit/_version.py)"

repos:
  # import
  - repo: https://github.com/MarcoGorelli/absolufy-imports
    rev: v0.3.1
    hooks:
      - id: absolufy-imports
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.8.2
    hooks:
      - id: reorder-python-imports
        exclude: doc/
  # syntax
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.37.3
    hooks:
      - id: pyupgrade
  # text
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.3
    hooks:
      - id: add-trailing-comma
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      # python
      - id: check-ast
      - id: check-builtin-literals
      # doc
      - id: check-docstring-first
      # commit
      - id: check-case-conflict
      - id: check-merge-conflict
      # yaml
      - id: check-yaml
      # text
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # code style
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
      - id: black-jupyter
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        exclude: ^(example|doc)/
  # jupyter
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.0
    hooks:
      - id: nbstripout
  # doc
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
